In [8]:
import pandas as pd

train = pd.read_csv("../data/raw/train.csv")
test  = pd.read_csv("../data/raw/test.csv")

In [9]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [14]:
print("")
print("")
print("------------------------------------------")
print("------------------------------------------")
print("Estadistica descriptiva del Data set TEST")
print("------------------------------------------")
print("------------------------------------------")
print("")
print("")
display(test.describe(include="all"))
print("")
print("")
print("------------------------------------------")
print("------------------------------------------")
print("Estadistica descriptiva del Data set TRAIN")
print("------------------------------------------")
print("------------------------------------------")
print("")
print("")
display(train.describe(include="all"))

------------------------------------------
------------------------------------------
Estadistica descriptiva del Data set TEST
------------------------------------------
------------------------------------------

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,418.000000,418.000000,418,418,332.000000,418.000000,418.000000,418,417.000000,91,418
unique,NaN,NaN,418,2,NaN,NaN,NaN,363,NaN,76,3
top,NaN,NaN,"Peter, Master. Michael J",male,NaN,NaN,NaN,PC 17608,NaN,B57 B59 B63 B66,S
freq,NaN,NaN,1,266,NaN,NaN,NaN,5,NaN,3,270
mean,1100.500000,2.265550,NaN,NaN,30.272590,0.447368,0.392344,NaN,35.627188,NaN,NaN
std,120.810458,0.841838,NaN,NaN,14.181209,0.896760,0.981429,NaN,55.907576,NaN,NaN
min,892.000000,1.000000,NaN,NaN,0.170000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,996.250000,1.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN
50%,1100.500000,3.000000,NaN,NaN,27.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1204.750000,3.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.500000,NaN,NaN
max,1309.000000,3.000000,NaN,NaN,76.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN

------------------------------------------
------------------------------------------
Estadistica descriptiva del Data set TRAIN
------------------------------------------
------------------------------------------

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Dooley, Mr. Patrick",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [17]:
# Punto #3 mas detalles en Informe 
import pandas as pd
import numpy as np

comunes = [i for i in train.columns if i in test.columns]
numericas = [i for i in comunes if train[i].dtype in ['int64', 'float64', 'int32', 'float32']]
datos_train = train[numericas].describe()
datos_test = test[numericas].describe()
comparacion = pd.DataFrame()
for i in datos_train.columns:
    comparacion[f'{i}_train'] = datos_train[i]
for j in datos_test.columns:
    comparacion[f'{j}_test'] = datos_test[j]
for k in numericas:
    comparacion[f'{k}_diff'] = comparacion[f'{k}_train'] - comparacion[f'{k}_test']

comparacion

,PassengerId_train,Pclass_train,Age_train,SibSp_train,Parch_train,Fare_train,PassengerId_test,Pclass_test,Age_test,SibSp_test,Parch_test,Fare_test,PassengerId_diff,Pclass_diff,Age_diff,SibSp_diff,Parch_diff,Fare_diff
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000,473.000000,473.000000,382.000000,473.000000,473.000000,474.000000
mean,446.000000,2.308642,29.699118,0.523008,0.381594,32.204208,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188,-654.500000,0.043092,-0.573473,0.075639,-0.010751,-3.422981
std,257.353842,0.836071,14.526497,1.102743,0.806057,49.693429,120.810458,0.841838,14.181209,0.896760,0.981429,55.907576,136.543384,-0.005766,0.345288,0.205984,-0.175372,-6.214148
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000,-891.000000,0.000000,0.250000,0.000000,0.000000,0.000000
25%,223.500000,2.000000,20.125000,0.000000,0.000000,7.910400,996.250000,1.000000,21.000000,0.000000,0.000000,7.895800,-772.750000,1.000000,-0.875000,0.000000,0.000000,0.014600
50%,446.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1100.500000,3.000000,27.000000,0.000000,0.000000,14.454200,-654.500000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,668.500000,3.000000,38.000000,1.000000,0.000000,31.000000,1204.750000,3.000000,39.000000,1.000000,0.000000,31.500000,-536.250000,0.000000,-1.000000,0.000000,0.000000,-0.500000
max,891.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200,-418.000000,0.000000,4.000000,0.000000,-3.000000,0.000000